@font-face {
    font-family: 'PokemonFont';
    src: url('../font/pokemon-solid.ttf');
}

* {
    font-family: 'Indie Flower', cursive;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #eee;
    text-align: center;
}

header {
    margin: 0;
    height: 150px;
    background-color: #3667A9;
    padding: 30px auto 30px auto;
    border-bottom: 1px solid #222;
}

section.main-content {
    flex: 1;
    padding: 50px;
}

footer {
    margin: 25px 0 0 0;
    padding: 25px;
    height: 100px;
    border-top: 1px solid #222;
    font-size: 0.75em;
    background-color: #FEC90B;
}

header > h1 {
    padding: 0;
    margin: 0;
    font-size: 3em;
    letter-spacing: 3px;
    color: #FEC90B;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'PokemonFont';
}

input[type='number'] {
    width: 100px;
    height: 60px;
    font-size: 3em;
    padding: 2px;
    text-align: center;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    border: none;

}

label {
    display: block;
    font-size: 2em;
}

.input-container {
    display: inline-block;
    width: 300px;
    text-align: center;
}

#btnCalc {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

#output {
    font-size: 2em;
}

#git-link {
    width: 64px;
    height: 64px;
}

.spin-image {
    -webkit-animation: spin 0.5s linear;
       -moz-animation: spin 0.5s linear;
            animation: spin 0.5s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }