@font-face {
    font-family: 'PokemonFont';
    src: url('../font/pokemon-solid.ttf');
}

* {
    font-family: 'Indie Flower', cursive;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #eee;
    text-align: center;
    letter-spacing: 3px;
}

header {
    background-color: #3667A9;
    border-bottom: 1px solid #222;
    padding: 10px;
    height: 150px;
}

main {
    flex: 1;
    padding: 50px;
}

footer {
    margin: 25px 0 0 0;
    padding: 25px;
    height: 160px;
    border-top: 1px solid #222;
    font-size: 0.75rem;
    background-color: #FEC90B;
    box-sizing: border-box;
}

header > h1 {
    padding: 30px;
    font-size: 3rem;
    letter-spacing: 12px;
    line-height: 0;
    color: #FEC90B;
    font-family: 'PokemonFont';
    text-shadow: 3px 3px 0 #033476,
                 -3px 3px 0 #033476,
                 3px -3px 0 #033476,
                 -3px -3px 0 #033476;
}

h1 > a {
    text-decoration: none;
    color: inherit;
    letter-spacing: inherit;
    margin: inherit;
    padding: inherit;
    line-height: inherit;
    font-family: inherit;
}

input[type='number'] {
    width: 125px;
    height: 65px;
    font-size: 4rem;
    padding: 2px;
    text-align: center;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    letter-spacing: 3px;
}

label {
    display: block;
    font-size: 3rem;
}

ul {
    font-size: 2rem;
    list-style: none;
}


.input-container {
    display: inline-block;
    width: 400px;
    text-align: center;
}

footer a {
    color: #033476;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

#btnCalc {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

#pidgyOutput {
    text-align: left;
    width: 800px;
}

#git-link {
    width: 64px;
    height: 64px;
    margin: 0 auto 0 auto;
}

.spin-image {
    -webkit-animation: spin 0.25s linear;
       -moz-animation: spin 0.25s linear;
            animation: spin 0.25s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


p {
    text-align: justify;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 1px;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
}

p.faq {
    font-weight: bold;
}

p.faq-answer {
 padding-left: 20px;
}